doctype
html
    head
        title mixins
    body
        h2 mixins 的定义与使用
        mixin lesson
            p imooc jade study
        +lesson

        mixin study(name, courses)
            p #{name}
            ul.course
                each course in courses
                    li= course
        +study('tom', ['jade','node'])

        mixin link(href, name)
            //- attributes == {class: "btn"}
            a(class!=attributes.class href=href)= name

        +link('/foo', 'foo')(class="btn1")

        mixin link(value)
            //- attributes == {class: "btn"}
            input(type!=attributes.type value=value)

        +link('foo')(type="text")
        //
            隐式的属性传递，首先调用mixin时最后面的属性值与元素设置的属性值相同
            其次，元素设置隐式属性时使用！=

        mixin list(id, ...items)
            ul(id=id)
                each item in items
                    li= item

        +list('my-list', 1, 2, 3, 4)
        //
            这种方式类似与argument

